body{
    background-color: hsl(210, 12%, 10%);
    margin: 0; 
}
.main{
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#start{
    margin-top: 1rem;
    border: none;
    outline: none;
    height: 2rem;
    width: 5rem;
    border: 2px solid hsl(201, 92%, 32%);
    background-color: hsl(201, 92%, 50%);
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0 12px hsl(201, 92%, 52%);
}
#start:hover{
    background-color: hsl(120, 81%, 56%);
    border-color: hsl(120, 81%, 46%);
    box-shadow: 0 0 16px hsl(120, 81%, 56%);
}
#start:active{
    background-color: hsl(120, 81%, 76%);
}
#turn{
    color: white;
}
.board{
    background-color: hsl(210, 12%, 15%);
    height: auto;
    width: auto;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    padding: 1rem;
    border-radius: 1rem;
    grid-gap: 0.7rem 0.7rem;
}
.cell{
    background-color: hsl(210, 12%, 25%);
    height: 8rem;
    width: 8rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    justify-items: center;
    border: 3px solid hsl(210, 12%, 25%);
}
.cell:hover{
    background-color: hsl(210, 12%, 35%);
}
.tick{
    height: 100%;
    width: 100%;
}
.win-cell{
    border-color:  #A0EE85;
    box-shadow: 0px 0px 8px #A0EE85;
}
.lighten{
    opacity: 50%;
    border-color: rgb(202, 84, 84);
}
.win-cell:hover,.lose-cell:hover{
    background-color: hsl(210, 12%, 25%);
}
@media screen and (min-width: 600px) {
    .slidecontainer{
        display: none;
    }
}